body {
    font-family: Arial;
    margin: 40px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

table {
    width: 70%;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: center;
}